
    <div id="about" class="container glass mb-5">
        <div class="row partial-header">
            <div class="col">
                <h2 class="spec-text ls-25 mt-4 ">Your Hub for 14'er Info <br>  Weather Alerts, Driving Directions<br>  & Friend Connections!</h2>
            </div>
        </div>
                <div class="row mt-4">
                    <div class="col-md-10 offset-1 spec-text">
                        <div class="row align-items-center mt-4">
                            <div class="col-1">    
                                <i class="fas fa-sliders-h fa-2x"></i>
                            </div>
                            <div class="col-11">
                                <p class="text-left mb-0">LogIn or Register below to save your Mountain Climbing condition preferences.</p>
                            </div>
                        </div>
                        <div class="row align-items-center mt-4">
                            <div class="col-1 ">
                                <i class="fas fa-mobile-alt fa-2x"></i>
                            </div>
                            <div class="col-11">
                                <p class="text-left mb-0">Receive advance text notifications when climbing conditions match your preferences for your favorite Colorado 14'ers!</p>
                            </div>
                        </div>
                        <div class="row align-items-center mt-4">
                            <div class="col-1 ">
                                <i class="fas fa-user-friends fa-2x"></i>
                            </div>
                            <div class="col-11">
                                <p class="text-left mb-0">Plan a climb with friends & Get Beta on Route conditions!</p>
                            </div>
                        </div>
                    </div>
                </div>
          
        <div id="#about-close" class="row mt-5">
            <div class="col">
                <button  type="button" class="btn btn-outline-light js-scroll-trigger btn-nav mb-5">
                    <span aria-hidden="true">Close</span>
                </button>
            </div>
        </div>
    </div>    
