<!-- views/partials/footer.ejs -->
<footer id="footer" class="footer text-center text-white-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0 ">
            <a class="text-white-50" href=#>
                <i class="fas fa-users fa-2x"></i>
                
                <h5 class="text-uppercase">
                    Dev Team
                </h5>
            </a>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
            <a class="text-white-50" href="#">  
                <i class="fas fa-code fa-2x"></i>
                <h5 class="text-uppercase">
                    Technologies
                </h5>
            </a>
        </div>
        <div class="col-lg-4">
            <a class="text-white-50" href="#">
                <i class="fas fa-cogs fa-2x"></i>
                <h5 class="text-uppercase">
                    Admin
                </h5>
            </a>
        </div>
      </div>
      <div class="footer-social">
        <!-- Footer Social Link - Facebook -->
        <!-- <a class="px-3 text-white-50" href="#">
          <i class="fab fa-facebook-f fa-2x fa-fw"></i>
        </a> -->
        <!-- Footer Social Link - Twitter -->
        <!-- <a class="px-3 text-white-50" href="#">
          <i class="fab fa-twitter fa-2x fa-fw"></i>
        </a> -->
        <!-- Footer Social Link - LinkedIn -->
        <!-- <a class="px-3 text-white-50" href="https://www.linkedin.com/company/libertydynamic/">
          <i class="fab fa-linkedin-in fa-2x fa-fw"></i>
        </a> -->
      </div>
      <div class="footer-copyright">
        &copy; 2019 Team B.A.R.B
      </div>
    </div>
  </footer>