<!-- views/partials/footer.ejs -->
<footer id="footer" class="text-center text-white-50 glass">
    <div class="container">
        <div class="row mb-1">
            <div class="col-4 mt-5">
                <a class="text-white-50" href="/dev-team">
                    <i class="fas fa-users fa-2x"></i>
                    
                    <h5 class="text-uppercase">
                        Dev Team
                    </h5>
                </a>
            </div>
            <div class="col-4 mt-5">
                <a class="text-white-50" href="/technologies">  
                    <i class="fas fa-code fa-2x"></i>
                    <h5 class="text-uppercase">
                        Technologies
                    </h5>
                </a>
            </div>
            <div class="col-4 mt-5">
                <a class="text-white-50" href="/admin">
                    <i class="fas fa-cogs fa-2x"></i>
                    <h5 class="text-uppercase">
                        Admin
                    </h5>
                </a>
            </div>
        </div>
      <div class="footer-copyright">
        &copy; 2019 Team B.A.R.B
      </div>
    </div>
</footer>