
<!--views/partials/head.js-->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>14'er Hub</title>
    <link rel="icon" type="image/jpg" href="assets/img/co-mtn-logo.png" />

    <!-- Reset CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="reset.css"> -->

    <!-- Bootstrap Swatch Template -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/superhero/bootstrap.min.css"/> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous" />
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Poppins|Special+Elite" rel="stylesheet">
    
        <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">

     <!--https://www.npmjs.com/package/bootstrap-slider-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.4.2/css/bootstrap-slider.min.css">

    <!-- Custom Style Sheets -->
    <link rel="stylesheet" type="text/css" href="assets/css/theme.css">
    <link rel="stylesheet" type="text/css" href="assets/css/header.css">
    <link rel="stylesheet" type="text/css" href="assets/css/preference-selector.css">
    <link rel="stylesheet" type="text/css" href="assets/css/mtn-tables.css">
    <link rel="stylesheet" type="text/css" href="assets/css/user-info.css">
    
   
</head>