<!--Login and Preferences-->
<!--Hidden Until Signed In-->

        <div id="interests" class="container glass spec-text">
            <div id="interests" class="row align-items-center justify-content-end partial-header">
                <div class="col-11">
                    <!-- Insert First name into h4? -->
                    <h4 class="ls-25 mb-0">Select Your Interests & Experience Level</h4>
                    
                </div>
                <div class="col-1 text-right">
                    <i id="toggle-show-interests-btn" role="button" class="fas  fa-plus-square fa-minus-square fa-2x"></i>
                </div>
                
            </div>
            
            <div id="interest-box" class="mt-5">
                    <!---INTERESTS============================================================-->
                    <form>
                        <div class="form-group question-template question">
                            <div class="row">
                                <div  class="col-4 label-box">
                                    <label id="interest1" value="false" class="bdr-yellow interests-btn">Day Hiking</label>
                                </div>
                                <div class="col-6 text-center input-box">
                                    <input id="interest1Exp" class="custom-slider" type="text"/>
                                </div>
                                <div class="col-2 text-center readout-box">
                                    <span class="readout">0</span>
                                </div>
                            </div>
                        </div>
    
                        <div class="form-group question-template question">
                            <div class="row">
                                <div class="col-4 label-box">
                                    <label id="interest2" value="false" class="bdr-yellow interests-btn" >Backpacking</label>
                                </div>
                                <div class="col-6 text-center input-box">
                                    <input id="interest2Exp" class="custom-slider" type="text"/>
                                </div>
                                <div class="col-2 text-center readout-box">
                                    <span class="readout">0</span>
                                </div>
                            </div>
                        </div>
            
                        <div class="form-group question-template question">
                            <div class="row">
                                <div class="col-4 label-box">
                                    <label id="interest3" value="false" class="bdr-yellow interests-btn">Trail Running</label>
                                </div>
                                <div class="col-6 text-center input-box">
                                    <input id="interest3Exp" class="custom-slider" type="text"/>
                                </div>
                                <div class="col-2 text-center readout-box">
                                    <span class="readout">0</span>
                                </div>
                            </div>
                        </div>
            
                        <div class="form-group question-template question">
                            <div class="row">
                                <div class="col-4 label-box">
                                    <label id="interest4" value="false" class="bdr-yellow interests-btn">Mountaineering</label>
                                </div>
                                <div class="col-6 text-center input-box">
                                    <input id="interest4Exp" class="custom-slider" type="text"/>
                                </div>
                                <div class="col-2 text-center readout-box">
                                    <span class="readout">0</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group question-template question">
                            <div class="row">
                                <div class="col-4 label-box">
                                    <label id="interest5" value="false" class="bdr-yellow interests-btn"> Ski Mountaineering</label>
                                </div>
                                <div class="col-6 text-center input-box">
                                    <input id="interest5Exp" class="custom-slider" type="text"/>
                                </div>
                                <div class="col-2 text-center readout-box">
                                    <span class="readout">0</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group question-template question">
                            <div class="row">
                                <div class="col-4 label-box">
                                    <label id="interest6" value="false" class="bdr-yellow interests-btn">High Altitude</label>
                                </div>
                                <div id="interest6" class="col-6 text-center input-box">
                                    <input id="interest6Exp" class="custom-slider" type="text"/>
                                </div>
                                <div class="col-2 text-center readout-box">
                                    <span class="readout">0</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group question-template question">
                            <div class="row">
                                <div class="col-4 label-box">
                                    <label id="interest7" value="false" class="bdr-yellow interests-btn">Rock Climbing</label>
                                </div>
                                <div id="interest7" class="col-6 text-center input-box">
                                    <input id="interest7Exp" class="custom-slider" type="text"/>
                                </div>
                                <div class="col-2 text-center readout-box">
                                    <span class="readout">0</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group question-template question">
                            <div class="row">
                                <div class="col-4 label-box">
                                    <label id="interest8" value="false" class="bdr-yellow interests-btn">Ice Climbing</label>
                                </div>
                                <div id="interest8" class="col-6 text-center input-box">
                                    <input id="interest8Exp" class="custom-slider" type="text"/>
                                </div>
                                <div class="col-2 text-center readout-box">
                                    <span class="readout">0</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group question-template question">
                            <div class="row">
                                <div class="col-4 label-box">
                                    <label id="interest9" value="false" class="bdr-yellow interests-btn">Big Wall Climbing</label>
                                </div>
                                <div id="interest9" class="col-6 text-center input-box">
                                    <input id="interest9Exp" class="custom-slider" type="text"/>
                                </div>
                                <div class="col-2 text-center readout-box">
                                    <span class="readout">0</span>
                                </div>
                            </div>
                        </div>
            
                        
            
                    </form>
                    <div class="form-group row mt-5">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <button id="interests-submit-btn" data-userid="<%=user%>" class="btn btn-outline-light submit-btn mb-5" type="submit">Save</button>
                        </div>
                    </div>
                
            </div>
        </div>
    