<!--Login and Preferences-->
<!--Hidden Until Signed In-->
<section id="preferences" class="mt-8 spec-text">    
    <div class="container glass">
        <div id="toggle-preference-box" class="row align-items-center justify-content-end">
            <div class="col-11">
                <!-- Insert First name into h4? -->
                <h4 class="ls-25 mb-0">Climbing Preferences</h4>
            </div>
            <div class="col-1 text-right">
                <i id="preference-btn" role="button" class="fas  fa-plus-square fa-minus-square fa-2x"></i>
            </div>
        </div>
        <div id="preference-box" class="mt-5">
            <form>
                <div class="form-group question-template question">
                    <div class="row">
                        <div class="col-md-3 label-box">
                            <label id="q-i">Minimum Temperature (F)</label>
                        </div>
                        <div class="col-md-9 text-center input-box">
                            <input id="min-temp-slider" class="custom-slider" type="text" data-slider-ticks="[-20, -10, 0, 10, 20, 30, 40, 50, 60]" data-slider-ticks-snap-bounds="5" data-slider-ticks-labels='["-20", "-10", "0", "10", "20", "30", "40", "50", "60"]' data-slider-value="-20"/>
                        </div>
                    </div>
                </div>
                <div class="form-group question-template question">
                    <div class="row">
                        <div class="col-md-3 label-box">
                            <label id="q-i">Maximum Wind Speeds (mph)</label>
                        </div>
                        <div class="col-md-9 text-center input-box">
                            <input id="max-wind-slider" class="custom-slider" type="text" data-slider-ticks="[0, 10, 20, 30, 40, 50, 60, 70, 80]" data-slider-ticks-snap-bounds="5" data-slider-ticks-labels='["0", "10", "20", "30", "40", "50", "60", "70", "80"]' data-slider-value="0"/>
                        </div>
                    </div>
                </div>
                <div class="form-group question-template question">
                    <div class="row">
                        <div class="col-md-3 label-box">
                            <label id="q-i">Maximum Chance <br>of Precipitation (%)</label>
                        </div>
                        <div class="col-md-9 text-center input-box">
                            <input id="max-precip-slider" class="custom-slider" type="text" data-slider-ticks="[0, 10, 20, 30, 40, 50, 60, 70, 80]" data-slider-ticks-snap-bounds="5" data-slider-ticks-labels='["0", "10", "20", "30", "40", "50", "60", "70", "80"]' data-slider-value="0"/>
                        </div>
                    </div>
                </div>
                <div class="form-group question-template question">
                    <div class="row">
                        <div class="col-md-3 label-box">
                            <label id="q-i">Maximum <br> Distance (mi)</label>
                        </div>
                        <div class="col-md-9 text-center input-box">
                            <input id="max-dist-slider" class="custom-slider" type="text" data-slider-ticks="[0, 50, 100, 150, 200, 250, 300, 350, 400]" data-slider-ticks-snap-bounds="5" data-slider-ticks-labels='["0", "50", "100", "150", "200", "250", "300", "350", "400"]' data-slider-value="0"/>
                        </div>
                    </div>
                </div>
<!--                 <div class="form-group row mt-5">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <button id="preferences-submit-btn" class="btn bg-yellow" type="submit"">Save</button>
                    </div>
                </div>
 -->






                <!--Barb's previous inputs-->
                <!-- <div class="row">
                    
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="user-name-input" class="col-sm-6 col-form-label">First Name:</label>
                            <div class="col-sm-6">
                                <input id="user-name-input"  type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="wind-input" class="col-sm-6 col-form-label">Max Wind Speed:</label>
                            <div class="col-sm-6">
                                <input id="wind-input"  type="number" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="precipitation-input" class="col-sm-6 col-form-label"> Max % Chance of Precipitation: </label>
                            <div class="col-sm-6">
                                <input id="precipitation-input" type="number" class="form-control">
                            </div>
                        </div>
                    </div>

                    <!--Right Column-->

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="temperature-min-input" class="col-sm-6 col-form-label">Min Temperature:</label>
                            <div class="col-sm-6">
                                <input id="temperature-min-input"  type="number" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="temperature-max-input" class="col-sm-6 col-form-label">Max Temperature:</label>
                            <div class="col-sm-6">
                                <input id="temperature-max-input"  type="number" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                                <label for="distance-max-input" class="col-sm-6 col-form-label">Max Distance:</label>
                                <div class="col-sm-6">
                                    <input id="distance-max-input"  type="number" class="form-control">
                                </div>
                            </div>
                        <div class="form-group row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6">
                                <button id="preferences-submit-btn" data-userid="<%=user%>" class="btn bg-yellow" type="submit"">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
            
        
    </div>
</section>