<!--Login and Preferences-->
<section>
    <div id="about" class="container mt-6 glass">
        <div class="alert alert-dismissible fade show" role="alert">
                <div class="row">
                        <div class="col">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <!-- <h1>Welcome to 14'er Friend</h1> -->
                            <h1 class="spec-text ls-25">Your Hub for 14'er Info, Weather Alerts, <br> Driving Directions, & Friend Connections!</h1>
                            <div class="row">
                                <div class="col-md-12 spec-text">
                                    <p class="mt-4">LogIn or Register below to save your Mountain Climbing condition preferences.</p>
                                    <p>Receive advance text notifications when climbing conditions match<br> your preferences for your favorite Colorado 14'ers!</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
        </div>
        
    </div>    
</section>
<section>    
    <div class="container glass mt-5">
            
            <div class="user-box">
                <!--Shows on load-->
                
                <div id="login">
                    <form>
                        
                        <div class="row">
                            <div class="col-md-4 offset-4">
                                <div class="msgDiv"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input id="txtEmail" class="form-control" type="email" placeholder="Email">
                            </div>
                            <div class="col">
                                <input id="txtPassword" class="form-control" type="password" placeholder="Password">
                            </div>
                            <div class="col-sm-2">
                                <button id="btnLogin" class="btn btn-primary btn-action">Log In</button>
                            </div>
                            <div class="col-sm-2">
                                <button id="btnSignUp" class="btn btn-secondary">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--End #login-->
                
                <!--Hidden Until Signed In-->
                <div id="loggedIn">
                        <!--Initial Hello-->
                        <div id=="greeting" class="alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>Hello!</strong> Please select your climbing preferences below.
                        </div>

                    
                    <div class="row">
                        <div class="col-sm-5 align-middle">
                            <p id="updateMsg"></p>
                        </div>
                        
                        <div id="pref-btn-div" class="col-sm-5 align-middle">
                            <p>Click to Show or Hide Preferences:</p><i role="button" id="show-preferences" class="fas fa-plus-square fa-minus-square fa-2x"></i>
                        </div>
                        <div class="col-sm-2">
                            <button id="btnLogout" class="btn btn-primary btn-action">Log Out</button>
                        </div>
                    </div>
                </div>
                <!--End #loggedIn-->

                <!--Hidden Until Signed In-->
                <div id="preferences" class="clearfix" data-id=''>
                    
                    <form>
                        <div class="row">
                            <!--Left Column-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="user-name-input" class="col-sm-6 col-form-label">First Name:</label>
                                    <div class="col-sm-6">
                                        <input id="user-name-input"  type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="wind-input" class="col-sm-6 col-form-label">Max Wind Speed:</label>
                                    <div class="col-sm-6">
                                        <input id="wind-input"  type="number" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="precipitation-input" class="col-sm-6 col-form-label"> Max % Chance of Precipitation: </label>
                                    <div class="col-sm-6">
                                        <input id="precipitation-input" type="number" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <!--Right Column-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="temperature-min-input" class="col-sm-6 col-form-label">Min Temperature:</label>
                                    <div class="col-sm-6">
                                        <input id="temperature-min-input"  type="number" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="temperature-max-input" class="col-sm-6 col-form-label">Max Temperature:</label>
                                    <div class="col-sm-6">
                                        <input id="temperature-max-input"  type="number" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                        <label for="distance-max-input" class="col-sm-6 col-form-label">Max Distance:</label>
                                        <div class="col-sm-6">
                                            <input id="distance-max-input"  type="number" class="form-control">
                                        </div>
                                    </div>
                                <div class="form-group row">
                                    <div class="col-sm-6"></div>
                                    <div class="col-sm-6">
                                        <button id="preferences-btn" class="btn btn-primary" type="submit" user-preferences-btn">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div><!--End Preferences-->
            </div>
            <!--End UserBox-->
        </div>
        <!--End Log-In Container-->
    </section>