/* Login Style----------- */
#about h1 {
    border-bottom: solid 1px whitesmoke
}

#about p {
    font-size: 1.25rem;
}
#user-box p {
    /* text-align: left; */
    font-size: 1.25em;
}





.btn {
    width: 10em;
}

#btnLogin {
    background-color: rgb(30, 201, 255);
}

#btnLogout {
    background-color: #296A22;
    float: right;
}

.alert {
    margin: 2em 0;
}

.inline {
    display: flex;
    align-content: center
}

/* #preferences {
    margin-top: 3em;
} */
#preferences label {
    text-align: right;
}

#preferences-submit-btn {
    /* background-color: rgb(30, 201, 255); */
    float: left;
}

/* #preferences h4 {
    margin: 1.5em 0;
} */

#loggedIn p {
    margin: 0;
    padding: 0;
}

#pref-btn-div {
    display:flex;
    flex-direction: row;
    align-items: flex-end
}

#pref-btn-div p {
    margin-right: 1.3em;
}


