
html,
body {
    margin: 0;
}

body {
    background-image: url("https://cdn2.outdoorphotographer.com/contests/496458/Bill_Tuttle_Maroon-Bells-and-Maroon-Lake.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    text-align: center
}

section {
    margin: 5em 0;
}

table,
thead {
    margin: 0 !important;;
    padding: 0 !important;
    color: whitesmoke
}
p{
    padding: 1em;
}

.sub-table {
    color: black;
}



.glass {
    background-color: rgba(19, 18, 18, 0.671);
    /* Experimental Feature must be turned on in chrome://flags/ 
        -->Experimental Web Platform Features */
    backdrop-filter: blur(5px);   
    -webkit-backdrop-filter: blur(5px);  
    /* border: 5px solid #f4f8f780; */
}

.mtn-template {
    display: none;
}

.route-template {
    display: none;
}

.container {
    background-color: rgba(0, 0, 255, 0);
}

i:hover {
    cursor: pointer;
    color: blue;
}

.card {
    background-color: rgba(0, 0, 255, 0);
}
.card-header {
    padding: 0;
}
.card-body {
    padding: 0;
}

.table {
    margin: 0;
    padding: 0;
}

.thead-hide {
    visibility: collapse;
}

.thead-gray {
    background-color: rgba(37, 39, 37, 0.5);
}

td {
    font-weight: bold;
    font-size: 1em;
}

/* th {
    padding: 0;
    margin: 0;
} */
.th-sm{
    width: 5em;
}

.th-md {
    width: 10em;
}

.th-lg {
    width: 15em;
}

.th-xl {
    width: 20em;
}

.name {
    font-weight: bolder;
    font-size: 1.2em;
}

.short-forecast {
    background-size: 3em;
    background-repeat: no-repeat;
    background-position: center;
}

#td-route-beta {
    padding: none !important;
}

.fa-circle {
    color: green;
}

.fa-square {
    color: blue;
}

.fa-exclamation-triangle {
    color: black
}