<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>

    <!-- New code goes here========================= -->






    
    <footer>
        <% include ../partials/footer %>
    </footer>

    <% include ../partials/js-script-tags %>

</body>

</html>